@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.container {
    text-align: center;
    min-width:75%;
}

.problem {
    border: solid 2px black!important;
}

.navigation, .resetOne, .resetAll {
    border: solid 1px black !important;
}

.title, .prompt {
    text-align: left;
}

.prompt {
    font-size: larger;
}

.code {
    text-align: left;
    border: solid 2px black;
}

.code * {
    font-family: 'Source Code Pro', monospace;
}

.run {
    margin: 10px;
    padding: 5px 30px;
    /* width:80%; */
    height: auto;
    border-color:black !important;
    font-size:x-large;
}

.error {
    color:crimson;
    font-size:x-large;
}

.incorrect {
    color: crimson;
}

.correct {
    color: green;
}

table {
    width:100%;
}