@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.container {
    text-align: center;
}

.code {
    text-align: left;
    border: solid 2px black;
}

.code * {
    font-family: 'Source Code Pro', monospace;
}

.run {
    margin: 10px;
    padding: 5px 30px;
    /* width:80%; */
    height: auto;
    border-color:black !important;
    font-size:x-large;
}

.output {
    margin-top:20px;
}

.error {
    color:crimson;
    font-size:x-large;
}